.Register {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Register button {
    backgrorgb(255, 2, 2)color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Register button:hover {
    background-color: #2980b9;
}